@{
    ViewData["Title"] = "Contactenos";
}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="panel-body">
                <div class="accordion" id="accordionEj">
                    <div class="card">
                        <div class="card-header" id="cardHeader">
                            <div id="header" class="bg-info">
                                <h2 class="mb-0 t">
                                    <button class="btn btn-link text-light" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Efredy Pamplona Vega
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="cardHeader" data-parent="#accordionEj">
                            <div class="card-body">
                                <strong>Ingenieria de Sistemas</strong>
                                <br />
                                <strong>Semestre:</strong><p>8vo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="panel-body">
                <div class="accordion" id="accordionEj1">
                    <div class="card">
                        <div class="card-header" id="cardHeader">
                            <div id="header" class="bg-info">
                                <h2 class="mb-0 t">
                                    <button class="btn btn-link text-light" type="button" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        Kelly Yohana Montalvo Diaz
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse show" aria-labelledby="cardHeader" data-parent="#accordionEj1">
                            <div class="card-body">
                                <strong>Ingenieria de Sistemas</strong>
                                <br />
                                <strong>Semestre:</strong><p>8vo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="panel-body">
                <div class="accordion" id="accordionEj2">
                    <div class="card">
                        <div class="card-header" id="cardHeader">
                            <div id="header" class="bg-info">
                                <h2 class="mb-0 t">
                                    <button class="btn btn-link text-light" type="button" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        David Alejandro Osorio Sandoval
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="cardHeader" data-parent="#accordionEj2">
                            <div class="card-body">
                                <strong>Ingenieria de Sistemas</strong>
                                <br />
                                <strong>Semestre:</strong><p>8vo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
