@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4 text-center">
            <img src="~/img/cirugia.jpg" class="imgservicios" alt="Spa" />
            <h5>Cirugia</h5>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
            <img src="~/img/medicamentos.jpg" class="imgservicios" />
            <h5>Medicamentos</h5>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
            <img src="~/img/vacunas.jpg" class="imgservicios" />
            <h5>Vacunas</h5>
        </div>
    </div>
</div>